<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <!--订阅配置-->
      <add key="SubIp" value="192.168.1.44"/>
      <add key="SubPort" value="28010,18010,18012"/>
      <!--Pub配置-->
      <add key="PubPort" value="48002"/>
    </appSettings>
</configuration>