<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serviceIp" value="110.86.28.229"/>
    <add key="servicePort" value="48080"/>
    <add key="userName" value="admin" />
    <add key="userPwd" value="MXooyI20LSbhyes6lBD8Fg==" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_DataService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:48080/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_DataService" contract="ServiceReference1.DataService"
                name="WSHttpBinding_DataService" />
        </client>
    </system.serviceModel>
</configuration>