<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_AASService">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:40808/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_AASService" contract="AASServiceReference.AASService"
        name="NetTcpBinding_AASService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAJi/ZVAy357HrphjSHDebyIH3WfAgAAAAAQAAAP0BAAAwggH5MIIBYqADAgECAgkAvahJX5fsNcQwDQYJKoZIhvcNAQELBQAwFDESMBAGA1UEAwwJbG9jYWxob3N0MB4XDTE4MDEzMDAyMjk1MFoXDTI4MDEyODAyMjk1MFowFDESMBAGA1UEAwwJbG9jYWxob3N0MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDO0EhBzDa8/j15gvo+TNcWHxXxUk+7+2O3JD0gSAD+BLUoXIDOyztvYdw4oWc5EQhbQDu6sTleRbSjW68oIQqbFC5o5HxCNDQSYnL2DEkQq0qF7Ddl4QAt4xbR3x/7+v+/ISfYgJ040w4s3WzgEesQnVFfnYBs2/yp27z0uz5bOwIDAQABo1MwUTAdBgNVHQ4EFgQUmC9Ri7F6Rp+M7OjpqY7eZBcXRL0wHwYDVR0jBBgwFoAUmC9Ri7F6Rp+M7OjpqY7eZBcXRL0wDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOBgQAPbh3c8YnMR3/+x1vv0xwS9jxptYJPumvUdQnWjaNLB6G9gWg3D68Kd2XtmskkQ/MRwsTGvuGEeBf9XwoVhbHxH2WuFx3loGtF31IrypQCwgDF13XAyJUtvx5ND1//MMkSPFf1jei2/+KBw6pysyEGjn3aiO/gXL+ZVSwwrA7T0w==" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
