<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ZeroMQPubPort" value="30000"/>
    <add key="ZeroMQRepPort" value="30001"/>

    <!--<add key="LocalMac" value="005056C00008"/>-->
    <!--<add key="LocalGroup" value="A01" />-->
    
    <!--<add key="PubStockGroup" value="A01"/>-->

    <!--是否使用Ayers接口-->
    <add key="UseAyersInterface" value="0"/>
    
    <!--是否使用港股通功能,即通达信港股交易接口-->
    <add key="UseHKGroupQuery" value="0"/>

    <!--是否启用详细日志功能-->
    <add key="UseLogDetail" value="1"/>

    <!--是否启用策略下单接口功能-->
    <add key="UseZmqInterface" value="0"/>

    <!--是否启用港股行情功能-->
    <add key="UseTdxHKData" value="0"/>

    <add key="CATSGroups" value=""/>

    <!--CATS接口通讯地址-->
    <add key="CATS_REQ_PORT" value="42000"/>
    <add key="CATS_PUB_PORT" value="42001"/>

    <!--服务端通讯端口配置-->
    <add key="ServiceConnectPort" value="808"/>
    <!--发送端功能端口配置-->
    <add key="GroupServicePort" value="809"/>

    
    <!--发送端绑定ip配置,在公网使用时可进行此绑定-->
    <!--<add key="GroupServiceBindIp" value="192.168.1.1"/>-->
    
    

    <!--ServiceConnectPort不为空且不等于808时服务端对应的数据库-->
    <add key="DBName" value="AAS_New"/>

    <add key="DbServerName" value="SQLEXPRESS"/>
    <!--定时发送相关-->
    <add key="SendDataTime" value="15:23"/>
    <add key="CollectServerIp" value="211.149.152.92"/>
    <add key="CollectServerPort" value="48080"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_GroupService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_DataService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_GroupService" contract="ServiceReference.GroupService"
        name="WSHttpBinding_GroupService" />
      <endpoint address="http://localhost:48080/" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_DataService" contract="YJServiceReference.DataService"
        name="WSHttpBinding_DataService" />
    </client>
  </system.serviceModel>
</configuration>