<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="conn" connectionString="762310AE6D23E07F01A1D86533005726F630F8308B097DEF55A3ED96507944894578E4D7913364BE01B17CC998710B9079C05458401F2BAB5B3DD89AB4C1DE6D2A2DC94526EB96251F551A088ED1C02C2B73B597E6229FAB717E77B5E7780A3D124F9908D93D672D"/>
    <add name="localhost" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TradeManager;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFrameworkMUE"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DataWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8001/DataWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DataWebServiceSoap"
        contract="ServiceReference.DataWebServiceSoap" name="DataWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>